* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* FIXED */

body {
  background-color: black;
  font-family: 'Montserrat', sans-serif;
}

/*WRAPPER */
.wrapper {
  height: 100vh;
  width: 100%;
  background-color: red;
  overflow-y: scroll;
}

/*MAIN - LEFT */
.main_left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  left: 0;
  top: 0;
  height: calc(100% - 150px);
  width: 320px;
  background-color: black;
  padding: 20px;
  margin-top: 60px;
}

.main_left a {
  text-decoration: none;
  color: lightgrey;
}


.top {
  /* background-color: purple; */
}

.top-container {
  list-style: none;
  line-height: 50px;
}

.top img {
  width: 10%;
  vertical-align: middle;
}


.middle i {
  font-size: 300%;
  margin-right: 10px;
  vertical-align: middle;
}

.playlist {
  list-style: none;
  margin-left: 10px;
  line-height: 35px;
}

.logo {
  position: fixed;
  top: 0;
  left: 0;
  height: 60px;
  width: 320px;
  text-align: left;
  padding-left: 20px;
  background-color: black;
}

.logo img {
  height: 50px;
}

.space {
  color: white;
  margin-bottom: 10px;
}

.middle {
  min-height: 100px;
  overflow-y: auto;
  /* background-color: lime; */
  flex-grow: 2;
}

.bottom {
  /* background-color: orange; */
}

.bottom-up {
  padding-bottom: 5px;
  border-bottom: 1px solid lightgrey;
}

.bottom-down {
  padding-top: 5px;
}

.bottom-up img {
  height: 10px;
  margin-right: 5px;
}

.bottom-down img {
  height: 20px;
  margin-right: 5px;
  background-color: grey;
  border-radius: 10px;
}



/*MAIN - RIGHT */
.main_right {
  width: calc(100% - 320px);
  height: calc(100% - 90px);
  margin-left: 320px;
  margin-bottom: 90px;
  padding: 20px;
}

/*BANNER*/
.banner {
  display: flex;
  align-items: center;
  position: fixed;
  justify-content: flex-end;
  top: 0;
  right: 0;
  height: 90px;
  width: calc(100% - 320px);
  background-color: rgba(0, 0, 0, 0.5);
  text-align: right;
  padding: 10px;
}

.btn {
  display: inline-block;
  background-color: white;
  font-size: 20px;
}

/*FOOTER*/
footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height:90px;
  background-color: blue;
  padding: 20px;
}


.footer-left {
  background-color: yellow;
  height: 50px;
}

.footer-left:after {
  content: "";
  display: table;
  clear: both;
}

.left_img {
  float: left;
  height: 50px;
}

.left_img img {
  height: 50px;
}

.left_text {
  float: left;
  margin-left: 5px;
  margin-right: 100px;
}

.list_sinister p {
 font-size: 10px;
 line-height: 1px;
 color: lightgrey;
}

.list_sinister h5 {
 line-height: 1px;
 color: white;
 font-weight: bold;
}

.list_sinister li {
 list-style: none;
}

.left_right {
  float: right;
}

.left_icon ul {
  margin-left: 100px;
  line-height: 50px;
  color: lightgrey;
}

.icon_sinister li {
  display: inline-block;
  list-style: none;
  margin-right: 5px;
  vertical-align: middle;

}

/* MEDIA QUERIES */
/* Extra small devices (phones, less than 768px) */
@media all and (max-width: 768px) {
  .main_left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    left: 0;
    top: 0;
    height: calc(100% - 140px);
    width: 40px;
    background-color: black;
    padding: 5px;
    margin-top: 50px;
  }

  .main_right {
    width: calc(100% - 40px);
    margin-left: 40px;
    padding: 20px;
  }

  .logo {
    position: fixed;
    top: 0;
    left: 0;
    height: 50px;
    width: 40px;
    text-align: left;
    padding-left: 5px;
    background-color: black;
  }

  .logo img {
    height: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .download img{
    height: 20px;
    text-align: center;
    margin-bottom: 10px;
  }

  .profile img {
    height: 30px;
    border-radius: 30px;
    background-color: lightgrey;
  }

  .banner {
    display: flex;
    align-items: center;
    position: fixed;
    justify-content: flex-end;
    top: 0;
    right: 0;
    height: 90px;
    width: calc(100% - 40px);
    background-color: rgba(0, 0, 0, 0.5);
    text-align: right;
    padding: 10px;
  }


}

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) { ... }

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) { ... }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) { ... }
