* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* FIXED */

body {
  background-color: black;
}

/*WRAPPER */
.wrapper {
  height: 100vh;
  width: 100%;
  background-color: red;
  overflow-y: scroll;
}

/*MAIN - LEFT */
.main_left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  left: 0;
  top: 0;
  height: calc(100% - 90px);
  width: 320px;
  background-color: yellow;
}

.top {
  display: flex;
  list-style: none;
}

.top li {
  flex-basis: 30px;

}

.top img {
  width: 100%;
}

.top {
  background-color: purple;
}

.space {
  color: white;
}

.middle {
  min-height: 100px;
  overflow-y: auto;
  background-color: lime;
  flex-grow: 2;
}

.bottom {
  background-color: orange;
}



/*MAIN - RIGHT */
.main_right {
  width: calc(100% - 320px);
  margin-left: 320px;
  padding: 20px;
}

/*BANNER*/
.banner {
  display: flex;
  align-items: center;
  position: fixed;
  justify-content: flex-end;
  top: 0;
  right: 0;
  height: 90px;
  width: calc(100% - 320px);
  background-color: rgba(0, 0, 0, 0.5);
  text-align: right;
  padding: 10px;
}

.btn {
  display: inline-block;
  background-color: white;
  font-size: 20px;
}

/*FOOTER*/
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height:90px;
  background-color: blue;
}
